#main {
  margin-top: 50px;
  display: flex;

  #aside {
    width: 20%;
    min-height: 100vh;
    border-right: 1px solid var(--bg-dark-border);
    padding: 30px;

    button {
      display: block;
      font-size: 20px;
      margin-bottom: 10px;
      cursor: pointer;
      width: 100%;
      text-align: left;
      padding: 12px 20px 8px 20px;
      border-radius: 40px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      span:first-child {
        display: inline-block;
        margin-right: 10px;
        vertical-align: -1px;
      }
      &:hover {
        background: rgb(216, 143, 143);
      }
    }
  }
  #contents {
    width: 80%;
    padding: 30px;

    h2 {
      margin-bottom: 10px;

      em {
        color: rgb(216, 143, 143);
      }
    }
  }
}

.videos__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > div {
    width: 24%;
    margin-bottom: 1%;
    background: #1a1a1a;
  }

  .box {
    transition: all 0.3s;
    &:hover {
      scale: 1.03;
      border: 1px solid #fff;
    }
    .boxInfo {
      padding: 10px;

      > a {
        display: block;
      }

      .videoTitle {
        display: block;
        height: 48px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin-bottom: 10px;
      }
      .channelName {
        display: block;
        font-size: 14px;
        color: #fff;
      }
    }
  }
}

.videoConts {
  margin-top: 50px;
  padding: 30px;

  .video__inner {
    display: flex;
    justify-content: space-between;

    .videoPlay {
      width: 78%;

      .videoPlayer {
        width: 100%;
        position: relative;
        padding-bottom: 27.65%;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }
      }
      .videoInfo {
        margin-top: 30px;
        width: 100%;
        height: 200px;

        .title {
        }
        .channel {
          text-decoration: underline;
          text-underline-position: under;
          font-size: 24px;
          margin: 10px 0;
        }
        .count {
          float: right;
          display: flex;
          .view {
            margin-right: 20px;
          }
          .like {
          }
        }
      }
    }

    .videoList {
      width: 20%;
    }
  }
}

.videos__inner.column {
  .box {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 1080px) {
  #main {
    margin-top: 80px;
    display: block;

    #aside {
      width: 100%;
      min-height: auto;

      div {
        display: flex;
        flex-wrap: wrap;
        button {
          width: 25%;
          font-size: 16px;
          margin-bottom: 0;
        }
      }
    }
    #contents {
      width: 100%;
    }
  }

  .videoConts {
    margin-top: 100px;

    .video__inner {
      display: block;

      .videoPlay {
        width: 100%;
      }

      .videoList {
        display: block;
        width: 100%;
        height: 100vh;
      }
    }
  }
}

@media (max-width: 580px) {
  #main {
    margin-top: 80px;
    display: block;

    #aside {
      width: 100%;
      min-height: auto;

      div {
        display: flex;
        flex-wrap: wrap;
        button {
          width: 50%;
          font-size: 14px;
          margin-bottom: 0;
        }
      }
    }
    #contents {
      width: 100%;
    }
  }

  .videos__inner {
    .box {
      width: 48%;
    }
  }
}

.channel-header {
  height: 400px;
  background-size: cover;
  background-position: center center;
  position: relative;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.4);
  }
}

.channel-info {
  position: relative;
  text-align: center;
  z-index: 100;
}
.channel-info img {
  display: block;
  width: 290px;
  height: 290px;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: -150px;
}
.channel-info h3 {
  font-size: 30px;
  padding: 10px;
}
.channel-info div {
  margin-bottom: 50px;
}
.channel-info div span {
  font-size: 14px;
}

.channel-videos {

  .videos__inner {
    padding: 0 20px;
  }
}

.result {
  text-align: center;
  font-size: 24px;
  padding: 20px;
  span {
    color: rgb(216, 143, 143);
  }
}

.searchCont .videos__inner {
  padding: 0 20px;
}